html{
	background-image:url(../images/back.png);
	margin:0 auto;
	align:center;
	text-align: center;
	padding:0px;
	margin:0px;
}
body{
	padding:0px;
	margin:0px;
}
.strip{
	margin:0 auto;
	align:center;
	text-align: center;
	height:350px;
	width:361px;	
	background-image:url(../images/strip.png);
	background-repeat: no-repeat;
	background-position: 0px 0px;
	padding-top:370px;
	display:none;
}
.strip_form{
	margin:0 auto;
	align:center;
	text-align: center;
	width:100%;
	height:360px;
	position:relative;
	opacity:0;filter:alpha(opacity=0);
	color:#c99e64;
	font-family:arial;
	font-size:14px;
	font-weight:600;
	margin-top:-15px;
}
.strip_message{
	margin:0 auto;
	align:center;
	text-align: center;
/*	background-image:url(../images/opening.png);
	background-position: center center;
	background-repeat: no-repeat;
*/
	height:44px;
	padding-top:8px;
	padding-bottom:8px;	
	font-family:georgia;
	font-weight: 500;
    font-style: italic;
    color:#c99e64;
    font-size:32px;
    line-height: 36px;
}
.strip_divider{
	margin:0 auto;
	text-align: center;
	padding-top:3px;
	line-height: 0px;
	font-size: 0px;
	border-top:1px solid white;
	border-bottom:1px solid white;
	width:300px;
}
.strip_map{
	text-transform:uppercase;
	color:#c99e64;
	font-family:arial;
	font-size:16px;
	font-weight:600;
	padding-top:10px;
	cursor:pointer;
	text-decoration: none;
}
.strip_form form{
	align:left;
	text-align: left;
	padding-left:30px;
}
.strip_form input{
	border:0px;
	font-family:arial;
	font-size:11px;
	padding:3px;
	float:left;	
	margin-left:0px;
	width:237px;
	margin-bottom:2px;
	padding-left:60px;
}
.strip_form #strip_form_name{
	background-image:url(../images/name.png);
	background-repeat: no-repeat;
	background-position: left center;
}
.strip_form #strip_form_email{
	background-image:url(../images/email.png);
	background-repeat: no-repeat;
	background-position: left center;
}
.strip_form button{
	background-color:#c99e64;
	width:300px;
	border:0px;
}
.strip_form p{
	padding-top:15px;
	padding-bottom:5px;
	margin-bottom: 5px;
	font-family:Georgia;
	font-size:11px;	
	color:white;
	font-weight: 500;
    font-style: italic;
}



#lean_overlay {
    position: fixed;
    z-index:100;
    top: 0px;
    left: 0px;
    height:100%;
    width:100%;
    background: #fff;
    display: none;
}